$hh-gray: #343741;
$hh-white: #fff;

.hh-logo {
  display: block;
  height: 70px;
  width: 84px;
  margin: 0 auto;
  &.hh-logo-dark {
    display: block;
  }
  &.hh-logo-light {
    display: none;
  }
}

.hh-footer {
  height: 50px;
  position: relative;
  z-index: 120;
  margin-top: 20px;
  background: $hh-gray;
  p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: $hh-white;
  }
  a {
    &, &:hover, &:focus, &:visited {
      color: $hh-white;
    }
  }
  .hh-footer-inner {
    max-width: 1430px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .hh-logo {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 300;
  }
  &.hh-footer-light {
    background: $hh-white;
    p {
      color: $hh-gray;
    }
    a {
      &, &:hover, &:focus, &:visited {
        color: $hh-gray;
      }
    }
    .hh-logo {
      &.hh-logo-light {
        display: block;
      }
      &.hh-logo-dark {
        display: none;
      }
    }
  }
}

.hh-footer-tag, .hh-footer-copyright {
  display: inline-block;
  padding: 0 30px;
}

.hh-footer-tag {
  float: right;
  text-align: right;
  &.hh-footer-tag-large {
    display: inline-block;
  }
  &.hh-footer-tag-small {
    display: none;
  }
}

.hh-footer-copyright {
  float: left;
  text-align: left;
}

@media (max-width: 991px) {
  .hh-footer {
    height: auto;
    .hh-footer-inner {
      padding: 60px 0 20px;
    }
  }
  .hh-footer-tag, .hh-footer-copyright {
    display: block;
    float: none;
    text-align: center;
  }
  .hh-footer-tag {
    &.hh-footer-tag-large {
      display: none;
    }
    &.hh-footer-tag-small {
      display: block;
      margin: -10px auto 10px;
    }
  }
}