<footer class="hh-footer">
    <a href="http://hhealth.com" target="_blank" title="Huntsworth Health">
        <img src="/assets/images/icons/hh-logo-light.png" alt="" class="hh-logo hh-logo-light">
        <img src="/assets/images/icons/hh-logo-dark.png" alt="" class="hh-logo hh-logo-dark">
    </a>
    <div class="hh-footer-inner">
        <div class="hh-footer-tag hh-footer-tag-small">
            <p><a href="http://hhealth.com" target="_blank">a Huntsworth Health agency</a></p>
        </div>
        <div class="hh-footer-copyright">
            <p>&copy; Copyright 2016. All rights reserved. <!--<a href="#">Terms and privacy.</a>--></p>
        </div>
        <div class="hh-footer-tag hh-footer-tag-large">
            <p><a href="http://hhealth.com" target="_blank">a Huntsworth Health agency</a></p>
        </div>
    </div>
</footer>